<link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,900,900italic,300italic,300,100,100italic' rel='stylesheet' type='text/css'>
<header>
    <h1>The Library</h1>
    <div class='header-right'>
    <% if user_signed_in? %>
      <span class= 'my_books'><a href="<%=user_requests_path('me')%>">My books</a></span>
      <span class='log_out'>
        <%= link_to "LOG OUT", destroy_user_session_path, method: :delete %>
      </span>
    <%else%>
      <span class='log_in'>
        <%= link_to "LOG IN", user_session_path, method: :create %>
      </span>
    <%end%>
  </div>
</header>
<content>
  <h2>Books on my shelf<h2>
  <table>
    <%@requests.each do |req|%>
    <tr>
      <td class='from-to-date'><%=req.from_date%><%=' / '%><%=req.to_date%></td>
      <td class='book-title'><%=req.book.title%></td>
      <td class='book-authors'><%=req.book.authors.pluck("name").join(', ') %></td>
      <td class='status status-<%=req.status%>'><%=req.status%></td>
    </tr>
    <%end%>
  </table>
</content>
