<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag "application", params[:controller], 'data-turbolinks-track' => true, :media => "all" %>
  <%= javascript_include_tag "application", params[:controller], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic,900,900italic,300italic,300,100,100italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
      <h1>The Library</h1>
      <div class='header-right'>
      <% if user_signed_in? %>
        <span class= 'my_books'><a href="<%=user_requests_path('me')%>">My books</a></span>
        <span class='log_out'>
          <%= link_to "LOG OUT", destroy_user_session_path, method: :delete %>
        </span>
      <%else%>
        <span class='log_in'>
          <%= link_to "LOG IN", user_session_path, method: :create %>
        </span>
      <%end%>
    </div>
  </header>
<content>
  <%= yield %>
</content>
</body>
</html>
